@model Manager.Models.UserDto
@addTagHelper *, Vereyon.Web.FlashMessage
@{
    ViewData["Title"] = "Profile";
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
        </div>
        <div class="card-body">
            <div class="row">


                <div class="p-5">
                    <flash bootstrap-version="3" />
                    @Html.ValidationSummary(true)
                    @using (Html.BeginForm("SaveProfile", "Manager", FormMethod.Post))
                    {

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-user", @placeholder = "First Name" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control form-control-user", @placeholder = "Surname" })
                            @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control form-control-user", @placeholder = "Phone" })
                            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", @type = "email", @placeholder = "Email Address" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>

                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Save
                        </button>
                    }

                </div>

            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
}