@model Manager.Models.RegisterUserDto
@addTagHelper *, Vereyon.Web.FlashMessage
@{
    ViewData["Title"] = "New user";
   
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">New user</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="p-3">
                    <flash bootstrap-version="3" />
                   
                    @using (Html.BeginForm("Create", "Users", FormMethod.Post))
                    {

                        <div class="form-group"> 
                            @Html.TextBoxFor(m => m.Name,   new { @class = "form-control form-control-user",  @placeholder = "First Name",  @Value = "test" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control form-control-user", @placeholder = "Surname" })
                            @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", @placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control form-control-user", @placeholder = "Phone" })
                            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control form-control-user", @type = "password", @placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control form-control-user", @type = "password", @placeholder = "Repeat Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-select">

                            @Html.DropDownListFor(m => m.RoleId,
                                new SelectList((System.Collections.IEnumerable)ViewData["roles"], "Id", "Name"),
                                "Select Role", new { @class = "form-control form-control-user form-select form-select-lg mb-3" })

                            @Html.ValidationMessageFor(m => m.RoleId, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-check">

                            @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-check-input", @type = "checkbox" })
                            @Html.LabelFor(m => m.IsActive)
                            @Html.ValidationMessageFor(m => m.IsActive, "", new { @class = "text-danger" })
                        </div>
                        <button type="submit" asp-action="Create" class="btn btn-primary btn-user btn-block">
                            Save
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>



    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
}